body
{
  background-color: #EAE7DC !important;
  padding-bottom: 50px !important;
  overflow-y: scroll;
}

header 
{
  font-family: "optima", optima;
}

.navbar { /* entire bar */
  position: absolute;
  font-family: "optima", optima;
  min-width: 900;
  background-color: #E98074 !important;
}

.navbar-toggler-icon { /* button */
  position: inline !important;
  margin-left: auto;
  margin-right: auto;
  
  /* max-width: 50%; */
  min-width: 25px;
}

.navbar-collapse {
  margin-right: 10px;
  text-align: right;
}

.navbarText {
  color: #EAE7DC !important;
}
.navbar-nav { /* selected menu */
  float: right;
  padding-left: 180px !important;
  position: inline;
  /* max-width: 100%; */
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: #EAE7DC !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.title a {
  /* float: left; */
  color: #EAE7DC;
  position: inline !important;
  margin-left: auto;
  margin-right: auto;
  
  /* max-width: 50%; */
  min-width: 500px;
}

.title a:hover {
  text-decoration: none; 
  color: #EAE7DC;

}

.welcome
{
  color: #E85A4F;
  text-align: center;
  margin-top: 200px;
  font-size: 40px;
} 

.section {
  color: #E85A4F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  max-width: 30%;
  min-width: 900px;
}

.flower {
  min-width: 300px;
  max-width: 300px;
}

.grand-canyon {
  min-width: 300px;
  max-width: 40%;
  padding-right: 10px;
}

.rosie {
  min-width: 300px;
  max-width: 30%;
  padding-left: 10px;
  padding-bottom: 50px;
}

p {
  line-height: 35px;
  word-spacing: 3px;
  font-size: 20px;
}

.link {
  color: #916dd5;
}

.section-title {
  display: inline;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.section-subtitle {
  letter-spacing: 1px;
  text-decoration: underline;
}

h3 {
  padding-top: 10px;
  padding-left: 400px;
  display: inline-block;
}




















